.App {
  text-align: center;
  background-color: #31373e;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start; /* Change this to start aligning content at the top */
  color: white;
  padding: 20px; /* Padding around the app */
  min-height: 100vh; /* Ensuring minimum height */
}

.App-header {
  background-color: #282c34;
  width: 100%; /* Header takes full width */
  display: flex;
  justify-content: flex-start; /* Aligns logo to the left */
  padding: 10px 20px; /* Padding inside the header */
  position: relative; /* Add this to position the dropdown menu relative to the header */
}

.App-logo {
  height: 40px; /* Fixed smaller size for the logo */
  cursor: pointer;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.table-responsive {
  width: 100%; /* Full width */
  overflow-x: auto; /* Enable horizontal scrolling */
  margin-top: 30px; /* Adjust based on the fixed button's position */
}

.fixed-button-container {
  position: fixed;
  top: 80px; /* Fit according to your design */
  right: 20px; /* Adjust according to your design */
  z-index: 1000; /* Make sure it is on top of other elements */
  display: flex;
  align-items: center; /* Align button and search input horizontally */
}

table {
  font-size: 0.8rem; /* Smaller font size for table */
}

.table-responsive .table> :not(caption) > * > * {
  padding: 0.3rem; 
  border-bottom-width: 1px; /* Ensures consistent border line width */
}

.btn {
  font-size: 0.7rem; /* Smaller buttons */
  padding: 2px 5px; /* Smaller padding for buttons */
  background-color: #3a6273
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.col-small {
  width: 50px; /* Adjust accordingly */
}

.col-medium {
  width: 100px; /* Adjust accordingly */
}

.col-large {
  width: 150px; /* Adjust accordingly */
}

.col-xlarge {
  width: 300px; /* Extra large for detailed descriptions or links */
}

/* MENU */

/* Add the CSS for the menu dropdown */
.App-header .dropdown-menu {
  position: absolute;
  top: 60px; /* Adjust according to the height of the header */
  left: 20px; /* Adjust according to the position of the logo */
  background-color: #3a6273;
  border: 1px solid #9dafb9;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 1000; /* Ensure it is above other elements */
  display: block !important; /* Ensure it is displayed */
}

.dropdown-item {
  padding: 10px 20px;
  text-decoration: none;
  color: black;
  display: block;
  border-bottom: inherit;
}

.dropdown-item:hover {
  background-color: #c0d7e4 !important;
}

/* Report container styling */
.report-container {
  width: 100%;
  max-width: 1200px; /* Adjust based on your layout */
  margin: 0 auto; /* Center the container */
  padding: 20px; /* Padding for spacing */
  overflow: auto; /* Ensure container can scroll if content overflows */
}

/* Bootstrap */
.table-dark {
  --bs-table-hover-bg: #3a6273;
}

.btn-warning{
  --bs-btn-color: white !important;
}

.custom-table th,
.custom-table td {
    vertical-align: middle; /* This will vertically center the content in cells */
    text-align: center; /* This will horizontally centre the content in the cells */
}