.custom-modal .modal-dialog {
    max-width: 80%; /* Aumenta el ancho del modal */
}

.custom-form-group {
display: flex;
align-items: center;
justify-content: space-between;
margin-bottom: 0px;
}

.custom-form-group label {
    flex: 0 0 14%; 
    margin-right: 1px; 
    padding-right: 1px; 
    white-space: nowrap;
}

/* Bootstrap */
.custom-form-group input,
.custom-form-group select,
.custom-form-group textarea {
flex: 1;
padding: 0.02rem 0.75rem;
background-color: #31373e;
color: white;
}

/* Estilo para los modales personalizados */
.custom-modal .modal-content {
    background-color: #282c34 !important;
    color: white; /* Ajusta el color del texto para mejor visibilidad */
}


.custom-modal .modal-header, 
.custom-modal .modal-footer {
    border-color: #31373e !important; /* Ajusta el color del borde */
    background-color: #31373e !important; /* Ajusta el color de fondo del header y footer */
    color: white; /* Ajusta el color del texto */
}

.custom-modal .modal-header .close {
    color: white; /* Ajusta el color del botón de cerrar */
}